<mat-toolbar class="toolBar">
  <span>My Application</span>
</mat-toolbar>


<main class="home">

  <div class="grant_access_space">

    <mat-grid-list cols="2" rowHeight="180px">

      <mat-grid-tile [colspan]="1"> 
        <div>
          <mat-icon class="icon_size" aria-hidden="false" aria-label="Example home icon" fontIcon="location_on"></mat-icon>
          <p class="icon_sub_text">Location</p>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1"> 
        <div>
          <mat-icon class="icon_size" aria-hidden="false" aria-label="Example home icon" fontIcon="camera_alt"></mat-icon>
          <p class="icon_sub_text">Camera</p>
        </div>
      </mat-grid-tile>
     
      <mat-grid-tile [colspan]="1">
        <div style="padding: 10px;">

          <div *ngIf="location_enabled">
            <mat-icon style="color: green; font-size: 40px; padding: 100px;" aria-hidden="false" aria-label="check icon" fontIcon="check_circle"></mat-icon>
          </div>  
  
          <div *ngIf="!location_enabled">
            <mat-icon style="color: red; font-size: 40px; padding: 100px;" aria-hidden="false" aria-label="cancel icon" fontIcon="cancel"></mat-icon>
          </div>  
  
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1">
        <div style="padding: 10px;">

          <div *ngIf="camera_enabled">
            <mat-icon style="color: green; font-size: 40px; padding: 100px" aria-hidden="false" aria-label="check icon" fontIcon="check_circle"></mat-icon>
          </div>  
  
          <div *ngIf="!camera_enabled">
            <mat-icon style="color: red; font-size: 40px; padding: 100px;"  aria-hidden="false" aria-label="cancel icon" fontIcon="cancel"></mat-icon>
          </div>     
        
        </div>
      </mat-grid-tile>

    </mat-grid-list>

    
    <div>
      <button mat-button (click)="open_permission_dialog()" class="grant_access_button">Grant Access</button>
    </div>

  </div>
 


</main>
